body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #fcfcfc;
  padding: 10px 30px;
}
ul {
  list-style-type: square;
}
table, td {
  border-collapse: collapse;
  border: 1px solid #5E8DB2;
}
td {
  padding: 5px 10px;
}
.list-none {
  list-style-type: none;
}
.code, .tag, pre {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: bold;
  color: #FF5722;
  font-size: 18px;
}
.code, .tag {
  white-space: nowrap;
}
.tag::before {
  content: "<";
}
.tag::after {
  content: ">";
}
#tag-types {
  text-decoration: underline;
}
a[target="_blank"] {
  color: #109684;
}
a[target="_blank"]:hover {
  color: #5ADAC9;
}
a[target="_blank"]:visited {
  color: #9900ff;
}
ul.list-none span {
  font-weight: bold;
}
ul.list-none > li::first-letter {
  color: #5E8DB2;
}
.parent-offset {
  background-color: #6A95B7;
  padding: 20px;
  border: 2px solid #FF5722;
  border-radius: 6px;
}
.child-offset {
  margin: 30px;
  background-color: #fcfcfc;
  border: 2px solid #FF5722;
  border-radius: 6px;
}
.border-ex {
  margin: 30px;
  text-indent: 20px;
  border: 2px solid #FF5722;
  border-radius: 6px;
  padding: 15px 10px;
}
.border-radius-ex {
   width: 70px;
   height: 70px;
   border: 2px solid #5E8DB2;
   display: inline-block;
   margin: 5px 10px 0;
}
.display-block {
  display: block;
}
.display-inline {
  display: inline;
}
.display-none {
  display: none;
}
.cascade-ex {
  color: #FF5722;
}
#cascade-id {
  color: #5ADAC9
}
#cascade-id.cascade-ex {
  color: #08A50D;
}
.float-ex img {
  width: 50%;
  margin-bottom: 10px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}
#beach {
  float: left;
  margin-right: 10px;
}
#turtle {
  float: right;
  margin-left: 10px;
}
#fox {
  float: none;
}
.text-right {
  text-align: right;
}
.clear-left {
  clear: left;
}
.clear-right {
  clear: left;
}
.clear-both {
  clear: both;
}

/* Стили для кнопки "к содержанию" */
.back-btn {
  background-color: #1A5D92;
  padding: 10px 30px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border-radius: 12px;
  border: 1px solid #5E8DB2;
}
.back-btn:before {
  content: '\2B05';
  padding-right: 5px;
}
