/* Селекторы тегов */
body {
  font-family: 'Noto Sans', sans-serif; /* семейство шрифта */
  background-color: #fcfcfc; /* фоновый цвет элемента */
  padding: 10px 30px; /* внутренние отступы элемента */
}
ul {
  list-style-type: square; /* внешний вид маркера в списке */
}
table, td {
  border-collapse: collapse; /* стиль отображения границ ячеек таблицы */
  border: 1px solid #5E8DB2; /* ширина, стиль и цвет границ элемента,
                                можно задавать все 3 параметра отдельно с помощьб свойств
                                border-width, border-style и border-color */
}
td {
  padding: 5px 10px;
}

/* Листинги */
.code, .tag, pre {
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: bold; /* устанавливает насыщенность шрифта */
  color: #FF5722; /* цвет текста */
  font-size: 18px; /* размер шрифта */
  white-space: pre-wrap; /* стиль отображения пробелов между словами */
}

/* Обрамление текста элемента в угловые скобки с помощью псевдоэлементов */
.tag::before {
  content: "<"; /* содержание элемента */
}
.tag::after {
  content: ">";
}

/* Оформление ссылок с помощью селекторов атрибутов и псевдоклассов */
a[target="_blank"] {
  color: #109684;
}
a[target="_blank"]:hover {
  color: #5ADAC9;
}
a[target="_blank"]:visited {
  color: #9900ff;
}

/* Пример использования селектора идентификаторов */
#tag-types {
  text-decoration: underline; /* оформление текста */
}

/* Оформление списка без маркеров */
.list-none {
  list-style-type: none;
}
ul.list-none span {
  font-weight: bold;
}
ul.list-none > li::first-letter {
  color: #5E8DB2;
}
ul.list-none > li {
  margin-top: 20px;
}

/* Пример использования отступов и границ */
.parent-offset {
  background-color: #6A95B7;
  padding: 20px;
  border: 2px solid #FF5722;
  border-radius: 6px; /* степень скругления границ элемента */
}
.child-offset {
  margin: 30px; /* внешние отступы элемента */
  background-color: #fcfcfc;
  border: 2px solid #FF5722;
  border-radius: 6px;
}
.border-ex {
  margin: 30px;
  text-indent: 20px; /* отступ красной строки */
  border: 2px solid #FF5722;
  border-radius: 6px;
  padding: 15px 10px;
}
.border-radius-ex {
   width: 70px; /* ширина элемента */
   height: 70px; /* высота элемента */
   border: 2px solid #5E8DB2;
   display: inline-block; /* способ отображения элемента на странице */
   margin: 5px 10px 0;
}

/* Пример использования свойства display */
.display-block {
  display: block;
}
.display-inline {
  display: inline;
}
.display-none {
  display: none;
}
/* Пример использования специфичности селекторов */
.cascade-ex {
  color: #FF5722;
}
#cascade-id {
  color: #5ADAC9
}
#cascade-id.cascade-ex {
  color: #08A50D;
}

/* Пример использования обтекания элементов */
.float-ex img {
  width: 50%;
  margin-bottom: 10px;
  height: 150px;
  object-fit: cover; /* способ встраивания содержимого в элемент */
  object-position: center; /* способ размещения содержимого в элементе */
}
#beach {
  float: left; /* задает выравнивание элемента */
  margin-right: 10px;
}
#turtle {
  float: right;
  margin-left: 10px;
}
#fox {
  float: none;
}
.text-right {
  text-align: right; /* выравнивание текста */
}
.clear-left {
  clear: left; /* отмена выравнивания элемента */
}
.clear-right {
  clear: left;
}
.clear-both {
  clear: both;
}

/* Пример использования position */
.position-ex {
  position: relative;
  width: auto;
  display: inline-block;
}
.position-ex h3 {
  position: absolute;
  left: 0;
  top: 90px;
  width: 100%;
  text-align: center;
  color: #000;
  text-shadow: 0 0 7px #fff;
}
.position-ex img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 0%;
  box-shadow: 0 0 3px #000, 0 0 8px #000;
}

/* Пример использования object-fit */
.object-fit-ex img {
  width: 300px;
  height: 300px;
  background-color: #ccc;
  object-position: center;
}

/* Медиа-запросы */
.hide-text {
  display: none;
  font-weight: bold;
}
@media screen {
  #screen-only {
    display: block;
  }
}
@media print {
  #print-only {
    display: block;
  }
}
@media projection {
  #print-only {
    display: block;
  }
}
.gallery > img {
  object-fit: cover;
  object-position: 50%;
}
@media (min-width: 1200px) {
  .gallery > img {
    width: 260px;
    height: 200px;
    display: inline-block;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .gallery > img {
    width: 420px;
    height: 350px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .gallery > img {
    width: 300px;
    height: 200px;
  }
}
@media (max-width: 767px) {
  .gallery > img {
    width: 100%;
    height: 300px;
    display: inline-block;
  }
}

/* Кнопка наверх */
.btn-up {
  position: fixed; /* способ позиционирования элемента */
  right: 30px; /* позиционирование относительно правого края */
  bottom: 30px; /* позиционирование относительно нижнего края */
  padding: 5px 15px;
  opacity: 0.5; /* степень прозрачности элемента */
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  background-color:  #5E8DB2;
  border: 1px solid #ccc;
  cursor: pointer; /* вид курсора при наведении */
  color: #1A5D92;
  border-radius: 3px;
  -webkit-transition: all 0.5s ease-out 0.1s;
     -moz-transition: all 0.5s ease-out 0.1s;
       -o-transition: all 0.5s ease-out 0.1s;
          transition: all 0.5s ease-out 0.1s;
}
.btn-up:hover {
  opacity: 1; /* степень прозрачности элемента */
}
