body {
  margin: 30px 20px;
  font-size: 18px;
  background-color: #fcfcfc;
}
h1 {
  color: #1A5D92;
}
h2 {
  color: #5E8DB2;
}
a {
  text-decoration: none;
  color: #ff5722;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
  color: #FF8A65;
}
ul {
  list-style-type: none;
}
