body {
  margin: 30px 20px;
  font-size: 18px;
  background-color: #fcfcfc;
  color: #333;
  font-family: 'Noto Sans', sans-serif;
}
h1 {
  color: #1A5D92;
}
h2 {
  color: #5E8DB2;
}
a {
  text-decoration: underline;;
  color: #ff5722;
  font-weight: bold;
}
a:hover {
  text-decoration: underline;
  color: #FF8A65;
}
ul {
  list-style-type: none;
}
a.back-btn {
  text-decoration: none;
}
.back-btn::before {
  content: '\2B05';
  padding-right: 5px;
}
.screenshot {
  width: 60%;
  border: 2px solid #ccc;
  margin: 20px 0;
  display: block;
}
.console {
  width: 60%;
  background-color: #153649;
  padding: 20px;
  margin: 20px 0;
  font-family: monospace;
}
.console span {
  color: #fff;
}
.console span:before {
  content: 'username:~/workspace $ ';
  color: #5A84AE;
  color: #8AE234;
}
.code {
  font-family: monospace;
}
.attention {
  color: #ff5722;
  font-weight: bold;
}
